<div class="error-page">
          <% if @todo.errors.any? %>
    <h2>The following errors prevented the Todo from being saved.</h2>
    <ul>
        <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg  %></li>
        <% end %>
    </ul>
<% end %>
</div>

<div class="border-box">
       <%= form_for @todo do |f|  %>
<div class="todo-form">    
    <p>
        <%= f.label :todo  %> <br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :todo_description %> <br>
        <%= f.text_area :description %>
    </p>
    <p class="submit-btn">
         <%= f.submit %>
    </p>
</div>
    <% end %>

</div>
<div>
    <button class="todos-btn"><%= link_to 'Back To Todos', todos_path %></button>

</div>