<h1>This is your list of things to do.</h1>
<h1> Better get too it!</h1><br>

<p>
    <%= link_to 'Create Something Todo', new_todo_path %>
</p> <br>

<table>
    <tr>
        <th>Todo</th>
        <th>What Todo</th>
    </tr>
    <% @todos.each do |todo| %>
    <tr>
        <td><%= todo.name %></td>
        <td><%= todo.description %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Show', todo_path(todo) %></td>
        <td><%= link_to 'Delete', todo_path(todo), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
</table>